In [2]:
#Q2
import sys
print("Python version")
print (sys.version)

Python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [14]:
#Q1
print("               Twinkle, twinkle, little star,")
print("                        How I wonder what you are.")    
print("                                 Up above the world so high,")
print("                                 Like a diamond in the sky.")
print("               Twinkle, twinkle, little star,")
print("                        How I wonder what you are.")

               Twinkle, twinkle, little star,
                        How I wonder what you are.
                                 Up above the world so high,
                                 Like a diamond in the sky.
               Twinkle, twinkle, little star,
                        How I wonder what you are.

In [17]:
#Q3
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-23 01:31:50

In [21]:
#Q4
rad=float(input("Enter The Radius of Circle: "))
area=(3.142)*(rad)**2
print("The Area of Circle is", area)

Enter The Radius of Circle: 4
The Area of Circle is 50.272

In [4]:
#Q5
fname=input("enter First Name: ")
lname=input("enter Last Name: ")
print(lname,fname)

enter First Name: abdul
enter Last Name: muneeb
muneeb abdul

In [27]:
#Q6
a=float(input("Enter 1st Number: "))
b=float(input("Enter 2nd Number: "))
sum=a+b
print('The Sum is:',sum)

Enter 1st Number: 2.232
Enter 2nd Number: 313.133
The Sum is: 315.365

In [38]:
#Q8
a=int(input("enter the no to check odd or even: "))
if (a%2 !=0):
    print ("The Number is odd")
else:
    print("number is even")

enter the no to check odd or even: 10
number is even

In [63]:
#Q9
listName=[12,32,423,534,446,5,65,754,74,74]
print(len(listName))

10

In [16]:
#Q7
a=float(input("Enter the No of Isl: "))
b=float(input("Enter the No of math: "))
c=float(input("Enter the No of physics: "))
d=float(input("Enter the No of chemistry: "))
e=float(input("Enter the No of Pst: "))
percent=(a+b+c+d+e)/(500)*100
print(percent)
if percent<=100 and percent>=80:
    print("Grade A+")
elif percent<=80 and percent>=70:
    print("Grade B")
elif percent<=70 and percent>=60:
    print("Grade C")
elif percent<=60 and percent>=50:
    print("Grade D")
elif percent<=50 and percent>=40:
    print("Grade E")
elif percent<=40 and percent>=33:
    print("Fail")
else:
    print("Grade Doesnot Exist")

Enter the No of Isl: 66
Enter the No of math: 66
Enter the No of physics: 66
Enter the No of chemistry: 66
Enter the No of Pst: 66
66.0
Grade C

In [25]:
#Q11
list=[1,232,254,36,758,68,6979,71284,12423,3525,24,225]
print("largest No is:",max(list))

largest No is: 71284

In [30]:
#Q10
list=[1,22,25,36,7,6,6,7,1,3,24,2]
print(sum(list))

140

In [32]:
#Q12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] 
for i in a:
    if i<5:
        print(i)

1
1
2
3